@using BaikiemTra02.Models
@model LopHoc

<div class="container">
    <h3>Chi tiết lớp học</h3>
    <p>ID: @Model.Id</p>
    <p>Tên lớp học: @Model.TenLopHoc</p>
    <p>Năm nhập học: @Model.NamNhapHoc</p>
    <p>Năm ra trường: @Model.NamRaTruong</p>
    <p>Số lượng sinh viên: @Model.SoLuongSinhVien</p>
</div>