@model BaiKiemTra03_02.Models.Sach

<div>
    <h2>Chi tiết sách</h2>
    <p>
        <b>ID:</b> @Model.Id
    </p>
    <p>
        <b>Tiêu Đề Sách:</b> @Model.TieuDe
    </p>
    <p>
        <b>Năm Xuất Bản:</b> @Model.NamXuatBan
    </p>
    <p>
        <b>Tác Giả:</b> @Model.TacGia.TenTacGia
    </p>
    <p>
        <b>Thể Loại:</b> @Model.TheLoai.TenTheLoai
    </p>
</div>
